.screen-register {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    margin: 2rem auto;
    text-align: center;
    min-height: 50vh;
}

.title-register {
    font-size: 2rem;
    color: var(--color-primario);
    margin-bottom: 1rem;
}

.form-register {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-register {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fff;
    color: var(--color-texto);
    transition: border-color 0.3s ease;
    margin: 0.5rem;
}

.input-register:focus {
    border-color: var(--color-primario);
    outline: none;
}

.button-register {
    background: var(--color-primario);
    border: none;
    color: white;
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin: 0.5rem;
}

.button-register:hover {
    background-color: var(--color-secundario);
}

.link-register {
    font-size: 0.9rem;
    color: var(--color-secundario);
    text-decoration: none;
    transition: color 0.2s ease;
    margin: 0.3rem;
    display: inline-block;
}

.link-register:hover {
    color: var(--color-primario);
    text-decoration: underline;
}

.success-register {
    color: #2e7d32;
    font-size: 0.95rem;
    margin-bottom: 1rem;
    display: block;
    font-weight: 500;
}

.error-field {
    color: #cc0000;
    font-size: 0.95rem;
    margin-top: -0.3rem;
    margin-bottom: 0.7rem;
    display: block;
    font-weight: 500;
}

.feedback-messages-register {
    margin-bottom: 1rem;
}