@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES */
:root {
    --color-primario: #a7855f;
    --color-secundario: #88684a;
    --color-backgroud-sombra: #75462623;
    --color-background: #f6f2ef;
    --color-texto: #000000;
    --text-defaul: "Poppins", sans-serif;
}

/* GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-defaul);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-background);
    z-index: 1;
    border-bottom: 1px solid var(--color-primario);
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo {
    text-decoration: none;
    display: block;
}

.logo img {
    height: 40px;
    width: auto;
    object-fit: contain;
    display: block;
}

.logo img:hover {
    filter: brightness(1.05);
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--color-texto);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropdown-menu {
    position: absolute;
    top: 2.5rem;
    min-width: 220px;
    background: var(--color-background);
    padding: 0.5rem 1rem;
    box-shadow: 0 8px 20px #a7855f49;
    border-radius: 8px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.right {
    right: 0;
    left: auto;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu a,
.dropdown-item {
    color: var(--color-texto);
    text-decoration: none;
    background: none;
    border: none;
    font-size: 0.95rem;
    text-align: left;
    cursor: pointer;
    padding: 0.3rem 0;
}

.dropdown-menu a:hover,
.dropdown-item:hover {
    color: var(--color-primario);
}

.user-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--color-background);
    border: 1px solid #ccc;
    z-index: 10;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.user-menu button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    width: 100%;
    text-align: left;
}

.nav-link,
.icon-link {
    text-decoration: none;
    color: var(--color-texto);
    position: relative;
}

.nav-link:hover,
.icon-link:hover,
.dropdown-toggle:hover{
    color: var(--color-primario);
}
